#navigation-bar {
    background-color: #e3d7cf;
}

#navigation-bar a {
    color: black;
    font-family: Josefin Sans;
}

#navigation-bar li:hover {
    background-color: darkgray;
}

#navigation-bar .dropdown-menu {
    background-color: #F6E1C3;
}

#navigation-bar .dropdown-menu a:hover {
    color: rgb(172, 12, 12);
}

#navigation-bar .nav a {
    font-size: 1.3rem;
}	

#from {
	background: url(/img/form.png);
	background-size: cover;
	width: 100%;
	margin-bottom: -10px;
}

#crud {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#add {
	margin-top: -150px;
}

.table {
	margin-bottom: 200px;
}

#form-kotak {
	width: 800px;
}

#kolom-enum {
	width: 765px;
}

#kolom-enumm {
	width: 3160px;
}

#nav {
    margin-left: 1000px;
}

#kotaklog{
	background: url(/img/bgg.jfif);
}

#judul-home {
	background: url(/img/background.jfif);
	background-size: cover;
	width: 1498px;
	height: 800px;
	margin-top: -48px;
	margin-left: -100px;
	margin-bottom: -200px;
	font-family: Josefin Sans;
}

#judul-homeblade {
	background: url(/img/background.jfif);
	background-size: cover;
	width: 1498px;
	height: 650px;
	margin-top: -48px;
	margin-left: -100px;
	margin-bottom: -200px;
	font-family: Josefin Sans;
}

#poster {
	margin-top: 80px;
	margin-right: 150px;
}

#abg {
	font-family: 'Rampart One', cursive;
	color: rgb(99, 44, 5);
	margin-right: 175px;
	margin-top: 150px;
	margin-bottom: -5px;
}

#layanan {
	color: black;
	margin-left: 195px;
	margin-top: 25px;
}

#apa {
	font-size: 20px;
	margin-right: 48px;
}

#button {
	border-radius: 0;
	margin-right: 115px;
	border-bottom-color: #004aad;
}

#bully-sekolah {
	margin-top: 280px;
}

#sebagian {
	font-family: inherit;
	font-weight: bold;
	font-size: 25px;
	color: rgb(134, 63, 12);
	margin-bottom: 20px;
}

#penyebab {
	font-family: 'Tilt Warp', cursive;
	font-size: 18px;
}

#card-dampak {
	background: url(/img/bgg.jfif);
	background-size: cover;
	width: 1498px;
	height: 700px;
	margin-left: -125px;
	margin-top: 100px;
}

#dampak {
	font-family: 'Rampart One', cursive;
	color: black;
	margin-top: 50px;
	margin-left: 40px;
}

#card-dampaknya {
	margin-left: 40px;
	background-color: #F6E1C3;
	margin-bottom: 200px;
}

#dampaknya {
	margin-left: 40px;
	background-color: #ccb28e;
	margin-bottom: 200px;
}

#kata-home {
	margin-top: 15px;
}

#welcome {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #2c292f;
	margin-top: 80px;
	margin-left: 290px;
}

#sosmed {
	font-family: Josefin Sans;
}

#tentang {
	margin-top: 50px;
}

#pengertian-bully {
	margin-top: 50px;
}

#orangbingung {
	margin-right: 300px;
}

#fisik {
	margin-left: -1320px;
}

#bullying {
	margin-right: 810px;
	margin-top: 20px;
}

#apa-itu {
	margin-left: 650px;
	margin-top: -530px;
}

#text-apa {
	font-family: 'Tilt Warp', cursive;
	color: black;
}

#text-pengertian {
	font-size: 25px;
}

#text-lho {
	font-size: 20px;
}

#yuk {
	font-size: 25px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#judul-jenis {
	font-family: 'Tilt Warp', cursive;
	color: black;
	margin-top: 50px;
	margin-bottom: -120px;
}

.card {
	background-color: #c1aefc;
}

#card-verbal {
	margin-top: 150px;
	margin-bottom: 80px;
}

#card-social {
	margin-top: 150px;
	margin-bottom: 80px;
}

#card-fisik {
	margin-top: 150px;
	margin-bottom: 80px;
}

#card-cyber {
	margin-top: 150px;
	margin-bottom: 80px;
}

#card-sex {
	margin-top: 150px;
	margin-bottom: 80px;
}

#card-judul {
	font-family: 'Tilt Warp', cursive;
	color: rgb(182, 10, 10);
}

#sanksi-text {
	font-family: 'Tilt Warp', cursive;
	margin-top: 50px;
	margin-bottom: -250px;
	color: black;
}

#marak {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 22px;
	margin-top: 175px;
	margin-left: 70px;
}

#marak-dua {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 22px;
	margin-top: 30px;
	margin-left: 70px;
}

#isi-sanksi {
	margin-left: 100px;
	font-size: 17px;
}

#foto-sanksi {
	margin-top: 150px;
	margin-left: 70px;
}

#kata {
	margin-top: 30px;
	margin-right: 150px;
}

#hubungi {
	font-family: 'Archivo Black', sans-serif;
	color: black;
	margin-right: 970px;
}

#kontak-foto {
	margin-bottom: -100px;
	margin-right: 50px;	
	margin-left: -90px;
}

.form-grup img {
	width: 500px;
	margin-top: -20px;
}

#foto-konmi {
	margin-top: -0px;
}

#isian {
	margin-left: -170px;
	width: 550px;
}

#komen {
	height: 90px;
}

#kirim {
	width: 528px;
}

#home-utama {
	background: #e3d7cf;
	margin-top: -10px;
	margin-bottom: -50px;
	height: 1000px;
}

*{
	padding:0;
	margin:0;
}

html{
	background-color: #eaf0f2;
}

body{
	font:16px/1.6 Arial,  sans-serif;
}

header{
	text-align: center;
	padding-top: 100px;
	margin-bottom:190px;
}

header h1{
	font: normal 32px/1.5 'Open Sans', sans-serif;
	color: #3F71AE;
	padding-bottom: 16px;
}

header h2{
	color: #F05283;
}

header span{
	color: #3F71EA;
}


/* The footer is fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #2c292f;
    height: 300px;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 50px 50px;
	margin-top: 10px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
    margin-top: 10px;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
    margin-left: 40px;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

#fb {
	margin-top: 8px;
}

#tw {
	margin-top: 8px;
}

#ig {
	margin-top: 8px;
}

#in {
	margin-top: 8px;
}

#yt {
	margin-top: 8px;
}